[2018-06-25 21:22] nearnshaw opened #1 "A sample scene with camera-facing billboards"
Create a sample scene for Decentraland that showcases how to use camera-facing billboards. These are entities that rotate to always show their front to the user's point of view.

Here's the Decentraland documentation for reference:  [docs.decentraland.org](https://docs.decentraland.org)
Tip: use an entity that includes the *Billboard* component.

You're free to use your creativity and imagine a sc

[2018-06-25 22:24] nearnshaw opened #2 "A sample scene for VR with a turn based game"
Create a sample scene for Decentraland that showcases how to create a turn-based game (for example a  tic-tac-toe) that supports at least two players.

Here's the Decentraland documentation for reference:  [docs.decentraland.org](https://docs.decentraland.org)
This blogpost also covers some of the challenges that creating this could involve: https://blog.decentraland.org/building-a-memory-game-usi

[2018-06-26 17:38] nearnshaw commented on #2
The SDK will undergo breaking changes soon relative to this, better wait

[2018-06-26 17:45] nearnshaw opened #3 "Create a VR scene that features object collisions"
Create a sample scene for Decentraland that showcases the following:

- Solid objects that collide with each other, bouncing according to the laws of physics
- A method that is called when one of these solid objects collides with a user's avatar

Here's the Decentraland documentation for reference:  [docs.decentraland.org](https://docs.decentraland.org)

You're free to use your creativity and imag

[2018-06-26 18:56] nearnshaw opened #4 "Create a VR scene where new entities are spawned"
Create a sample scene for Decentraland that showcases how multiple new entities can be created.

- Define a type of custom entity
- Have a new entity of this type created each time something happens, which is added to the already existing ones

For example, you could have a scene where a new "bird" entity that starts flying in circles each time the user clicks a nest.

Here's the Decentraland docu

[2018-06-26 19:00] nearnshaw opened #5 "Create a VR scene that features user position tracking"
Create a sample scene for Decentraland that showcases how things can respond to the user's position in the scene.

- Mark an area of the scene to work as a trigger in some visible way
- Create a method that is executed whenever the user enters or leaves this area

For example, you could have a scene where a trapdoor opens when the user steps on a specific tile on the ground.

Here's the Decentrala

[2018-06-26 20:16] nearnshaw opened #6 "Create a VR scene with a simple AI character"
Create a sample scene for Decentraland that features a simple AI character,

- Create a sample scene that includes a character that the user can interact with
- The character must also be able to respond to stimuli even when not directly addressed

For example, you could have a dog character that follows the user around the scene, and that occasionally moves to look around or scratch itself, indep

[2018-06-26 20:19] nearnshaw opened #7 "Create a video tutorial showing how to create a simple dynamic scene"
Create a narrated video that shows the steps for creating a VR-compatible dynamic scene.

The video must show:
- How to use the CLI to build a scene
- How to edit the contents of a scene to create a something simple but that responds to user input in some way
- How to view a preview of this scene

Here's the Decentraland documentation for reference:  [docs.decentraland.org](https://docs.decentrala

[2018-06-26 20:21] nearnshaw opened #8 "Create a video tutorial showing how to create a static scene and upload it"
Create a narrated video that shows the steps for creating a VR-compatible static scene.

The video must show:
- How to use the CLI to build a scene
- How to edit the contents of a scene to show something simple but appealing
- How to view a preview of this scene
- How to upload the scene content to IPFS

Here's the Decentraland documentation for reference:  [docs.decentraland.org](https://docs.dec

[2018-06-26 20:30] nearnshaw opened #9 "Create a video tutorial showing how to upload a 3d model from Sketchfab"
Create a narrated video that shows the steps for creating a VR-compatible dynamic scene.

The video must show:

- How to find and download a 3d model in Sketchfab
- How to import, edit and tweak this 3d model in Blender
- How to export the content from Blender as a glTF file (must install a Blender plugin)
- How to add this glTF model to a decentraland scene
- How to view a preview of this scene

[2018-06-26 20:30] nearnshaw opened #10 "Create a video tutorial showing how to upload a 3d model from Google Poly"
The video must show:

- How to find and download a 3d model in Google Poly
- How to import, edit and tweak this 3d model in Blender
- How to export the content from Blender as a glTF file (must install a Blender plugin)
- How to add this glTF model to a decentraland scene
- How to view a preview of this scene

Here's the Decentraland documentation for reference:  [docs.decentraland.org](https://do

[2018-06-27 00:04] oscnet commented on #1
创建一个示例场景，展示如何使用总是面向摄像头的平面物体，其可以旋转并根据用户位置始终正面面对用户。

以下是供参考的 Decentraland 文档： [docs.decentraland.org](https://docs.decentraland.org)
提示：使用包含 `Billboard` 组件的实体。

您可以自由发挥你的创造力，使用有趣又吸引人的场景。代码要求清晰、干净，因为它是提供给其他想实现相同功能的开发人员的示例。

作为轻量级教程，附加的 Readme.md 文件必须写明创建项目所需的步骤。

[2018-06-27 00:12] oscnet commented on #2
创建 Decentraland 示例场景，展示如何创建一个至少支持两个玩家的回合制游戏(例如井字游戏)。

文档参考： [docs.decentraland.org](https://docs.decentraland.org)
这篇博文还涵盖了创建这个项目可能涉及的一些挑战：
https://blog.decentraland.org/building-a-memory-game-using-decentralands-sdk-87ee35968f8d

您可以自由发挥你的创造力，使用有趣又吸引人的场景。代码要求清晰、干净，因为它是提供给其他想实现相同功能的开发人员的示例。

作为轻量级教程，附加的 Readme.md 文件必须写明创建项目所需的步骤。

ps：与此相关的 SDK 将会进行修改，请稍等。

[2018-06-27 05:16] leelinliew commented on #1
@oscnet Please check again if the translation for "Billboard" is correct. This might help: https://gamedev.stackexchange.com/questions/54871/what-is-billboarding-and-can-should-it-be-used-in-3d-games-to-create-special-ef

[2018-06-27 06:06] oscnet commented on #3
实现以下示例场景：

* 物体相互碰撞，并能根据物理定律反弹，
* 当物体跟玩家碰撞时，调用一个方法。

文档参考： [docs.decentraland.org](https://docs.decentraland.org)

您可以自由发挥你的创造力，使用有趣又吸引人的场景。代码要求清晰、干净，因为它是给其他想实现相同功能的开发人员的示例。

作为轻量级教程，附加的 Readme.md 文件必须写明创建项目所需的步骤。

[2018-06-27 06:12] oscnet commented on #4
实现如下示例场景，展示如何创建多个实体。

* 定义自定义实体的类型
* 每次当特定事件发生时，创建一个这种类型的新实体，并将其添加到现有实体中。

例如，可以设计场景：每当玩家点击鸟巢时，一只新的“鸟”（实体）就开始绕圈飞行。

文档参考： [docs.decentraland.org](https://docs.decentraland.org)

您可以自由发挥你的创造力，使用有趣又吸引人的场景。代码要求清晰、干净，因为它是提供给其他想实现相同功能的开发人员的示例。

作为轻量级教程，附加的 Readme.md 文件必须写明创建项目所需的步骤。

[2018-06-27 06:19] oscnet commented on #5
创建一个示例场景，根据用户在场景中的位置作出相应的响应。

* 以某种可见的方式标记场景的一个区域作为触发器
* 创建一个方法，该方法在用户进入或离开该区域时执行

例如，可以设计如下场景：当用户踏上地面上的一个特定的瓷砖时，一个活板门就会打开。

文档参考： [docs.decentraland.org](https://docs.decentraland.org)

您可以自由发挥你的创造力，使用有趣又吸引人的场景。代码要求清晰、干净，因为它是提供给其他想实现相同功能的开发人员的示例。

作为轻量级教程，附加的 Readme.md 文件必须写明创建项目所需的步骤。

[2018-06-27 11:49] oscnet commented on #6
创建一个示例场景，包含一个简单的 AI 角色，
* 创建一个可以跟用户交互的角色
* 在没有直接处理的情况下，这个角色也必须能够对刺激做出反应。

例如：可以场景中设计一条跟随着用户的狗，它偶尔会四处张望或搔挠一下自己，并不受用户输入的影响。

文档参考： [docs.decentraland.org](https://docs.decentraland.org)

您可以自由发挥你的创造力，使用有趣又吸引人的场景。代码要求清晰、干净，因为它是提供给其他想实现相同功能的开发人员的示例。

作为轻量级教程，附加的 Readme.md 文件必须写明创建项目所需的步骤。

[2018-06-28 14:27] cupOJoseph commented on #3
I think it should be https://docs.decentraland.org/

The docs state

I'm a bit confused how to demonstrate these things if that's the case?

[2018-06-28 14:53] nearnshaw commented on #3
That's right, thanks!  Sorry for the bad link, I just fixed it.

As the docs say, there currently is no way to access the world that's made up of content that's published on the blockchain, but what you do is create a scene on your machine, launch it locally and preview it there.

[2018-06-28 15:33] cupOJoseph commented on #3
okay, I'll do that. This is very similar to aframe so it shouldn't be too bad.

Is there a native part of the SDK for detecting overlap / collision with the player? The docs are very basic. Is there more in a github repo somewhere?

[2018-06-28 19:27] cupOJoseph commented on #10
google poly now lets you export directly as glTF, is using blender still a requirement?

[2018-06-28 22:32] nearnshaw commented on #9
Hi @ryan-shea, thanks for your interest in our offering!

We prefer the tutorial to be based around screen captures, it doesn't need to be dry, in fact we prefer if you make it as engaging as you can.
The main thing we want to underline is that this is a simple process that doesn't demand great technical or graphical skills, and that it can also be fun.
We don't want it to span too long, I'm think

[2018-06-29 14:58] cupOJoseph commented on #3
New commit to PR with requested edits. Now includes 2 balls, and functions for simulating fall, velocity, and position.

[2018-06-29 19:54] nearnshaw commented on #7
Hi @ryan-shea,

Sounds great, just to make sure you're up to the challenge, take a look at this blogpost:
https://blog.decentraland.org/building-a-memory-game-using-decentralands-sdk-87ee35968f8d

You don't need to build something as complex as this, but using the same mechanics, is that something you'd be comfortable with?

Also, we recommend you use Visual Studio Code as an IDE for building Dece

[2018-06-30 16:55] smsunarto commented on #8
@nearnshaw My laptop seems to have an issue with WebGL which might impact the quality of the video since I wouldn't be able to show the preview. If that's significant, I would recommend you to pass it on to the next worker.

[2018-06-30 17:29] nearnshaw commented on #8
Thanks @smsunarto for letting us know. I'm afraid that it is important to us that the preview can be viewed at a decent frame rate in the video. I'm sory but if that's the case, I'll have to assign this to another worker.

We will be adding more bounties in the future, some of them will only require submiting code samples (no video), so keep an eye open for those :)

(if you respond to those, plea

[2018-06-30 18:22] #9 closed, assigned to nobody

[2018-06-30 18:23] #3 closed, assigned to nobody

[2018-07-01 16:02] #8 closed, assigned to nobody

[2018-07-03 15:17] nearnshaw commented on #7
Hi @ryan-shea

Are you still interested in taking this bounty? We really liked your other video, so we're excited about you doing it.
We just want to make that whoever takes this one is confident with the technical aspects, because it is a bit more challenging. We're fine if this one takes you longer.

This page that we just published in the documentation might be of help:
https://docs.decentralan

[2018-07-03 15:49] rmshea commented on #7
Hey @nearnshaw ,

Sorry for the delay on getting back to you. The weekend was crazy!

I'm definitely interested in taking this bounty. It might take a bit longer due to the holiday tomorrow and the resulting craze. I'll run a script by you so I make sure to cover everything that you'd like.

Thanks for the documentation links -- they're fantastic!
R

[2018-07-06 03:45] RyanDotson commented on #10
Hello! I had some issues going from metaverse -api version: 4.0.1 to 4.0.2 but it's now taken care of. Will be uploading tonight. Thanks!

[2018-07-06 03:59] rmshea commented on #7
@nearnshaw

I'm planning to build a lighthouse with a cone as a ray of light that rotates around. It'll be controlled by clicks.

I'm wondering if there is an ability to change the anchor point on an object. With the following code, the cone rotates around it's center and it looks unpolished.
`import { createElement, ScriptableScene } from 'metaverse-api'

export default class light extends Script

[2018-07-06 07:23] RyanDotson commented on #10
Link to the file incase It's too big to upload here.

https://drive.google.com/open?id=125oAO9RlCmXF021V1ZUWXh5LgAm6fTUD

[2018-07-06 13:09] nearnshaw commented on #7
Hi @ryan-shea , I like the idea and it looks like it's coming along nicely!

The best way to have an object rotate along an anchor point that isn't its center is to enclose it in an invisible parent entity and rotate that entity instead. Since it rotates in relation to the parent's center, you can put your thing you want to rotate off-center from the parent.

Take a look at this opening door examp

[2018-07-06 13:38] nearnshaw commented on #10
Thanks @RyanDotson!
We like the video, I just accepted the submission in Gitcoin so your payment should be arriving soon

Please, make a pull request to our main branch from your fork, so that we have that file with the link to the video.  That we can keep better track of it :)

[2018-07-06 17:01] RyanDotson commented on #10
Thank you @nearnshaw! Just submitted a pull request :)

[2018-07-07 19:34] RyanDotson commented on #10
Hello @nearnshaw ! The issue is showing submitted, but not yet accepted on Gitcoin. Is there anything else I need to do on my end?

Many thanks

[2018-07-08 17:25] nearnshaw commented on #10
Hi @RyanDotson,  sorry about that, I thought I had accepted and closed everything already. I just checked and it looks like I didn't, so I accepted the submission on Gitcoin. It should come through soon!

[2018-07-09 00:03] RyanDotson commented on #10
Still not showing. Should I resubmit? @nearnshaw

[2018-07-09 00:19] RyanDotson commented on #10
Got it, thanks! :) @nearnshaw

[2018-07-09 17:11] rmshea commented on #7
@nearnshaw
Thanks! I'll put together the video tonight and get it over to you by tomorrow morning.

@gitcoinbot
WIP!

[2018-07-11 17:39] #10 closed, assigned to nobody

[2018-07-11 17:39] #7 closed, assigned to nobody

[2018-07-16 20:10] nearnshaw opened #16 "Talk about Decentraland at a game developer event"
Give a talk at a meaningful event for game developers focusing on Decentraland and what makes it a great platform for creating games. The talk must focus primarily on Decentraland and last between 10 and 25 minutes. We will provide DCL related SWAG (tshirts, hoodies and stickers).

To redeem this bounty you must submit a recording (video or audio) of the talk. We might decide to post the video or

[2018-07-16 20:15] nearnshaw opened #17 "Write a blog post about Decentraland"
You can publish the blogpost in any blog that has a significant outreach and relevance for the gaming or crypto community. We might then choose to publish the blogpost as a guest piece on Decentraland's blog.

To be selected for this bounty, you must send a proposal with a blog post subject and a brief synopsis of what you plan to write about. You must also link to other content you have written i

[2018-07-16 20:18] nearnshaw opened #18 "Organize a local game developer meetup sponsored by Decentraland"
Organize a meetup for game developers in your local area, name Decentraland as the event's main sponsor.

To redeem this bounty you must present pictures of the event, and screenshots of the event invitations (email, meetup event, facebook event, etc) , showing that the Decentraland brand was made present.

You can reach out to us for guidance and consultation if you need help with the talk's cont

[2018-07-16 20:59] nearnshaw opened #19 "Create a video tutorial showing how to determine collision areas for complex objects"
The video must show the follwoing:

- Find a complex 3d model with multiple parts, some we want users to walk through and others we don't, like a house.  The model can come from a free site like Google Poly or Sketchfab.
- Import the model into Blender, add a collision mesh, marking the collision areas of the model.
- Install a Blender plugin to export models to glTF, then export the model to glTF

[2018-07-16 21:17] nearnshaw opened #20 "Create a video tutorial showing how to import a 3D character model and add animations with Blender"
The video must show the follwoing:

- Find a 3d model of a character. The model can come from a free site like Google Poly or Sketchfab. Ideally, the character shouldn't have the same limb-disposition as a human, so as not to overlap with our other bounty using more automatic methods.
- Import the model into Blender. Add a skeletal armature to the model, make sure that the model responds as expect

[2018-07-16 21:21] nearnshaw opened #21 "Create a video tutorial showing how to add animations to a character with Mixamo"
The video must show the follwoing:

- Find a 3d model of a human-like character. The model can come from a free site like Google Poly or Sketchfab.
- Import the character to Mixamo to add a skeletal structure, set at least two different animations to it
- Import your model into a Decentraland scene
- Add some basic interaction to trigger the different animations. For example have the model move wi

[2018-07-16 21:36] nearnshaw commented on #7
@ryan-shea , check out this issue:
https://github.com/decentraland/MANA-community-fund-learning-content/issues/21

We're publishing a bounty for it on Gitcoin right now if you're interested ;)

[2018-07-17 09:10] ctrlaltvikas commented on #17
@nearnshaw  give me some pointers about the content that should be must have for the blog post

[2018-07-17 20:18] iamonuwa commented on #16
Can you increase the deadline for this task to 12 months? Am interested in taking this up.

[2018-07-17 20:47] nearnshaw commented on #16
Hi @iamonuwa, if posting this through Gitcoin works out for us, we'll definitively renew the bounty to keep it going after it expires. Right now we're testing the waters to see what kinds of responses we get.
In any case, even if we do close this bounty some time in the future, you can always get in touch with us and work something out.

[2018-07-17 22:54] GREGORIDESADE commented on #17
Id very much like to work on articles about the following subjects:

How Decentraland Gained My Trust: This post would mainly be about the April 23rd SDK/CLI/API announcement and why I view this as the lift off of the Decentraland project.

Decentraland Overview Blog: Here I would explain the three layers (consensus / land content / real-time) of the Decentraland ecosystem in detail including how

[2018-07-18 12:39] vs77bb commented on #17
@nearnshaw Looks like there's a lot of interest here! To confirm, are you willing to pay out for one blog post or for multiple for 2000 MANA?

[2018-07-18 18:08] cupOJoseph commented on #18
https://www.meetup.com/NOVA-VR/events/252906329/

[2018-07-19 06:30] nemani commented on #18
I am a student of IIIT Hyderabad (India) We organize a lot of event and even have a blockchain event coming up in the first week of August. Once that event is done, I could get a pretty good idea of how much understand / interest people have in blockchain and projects like decetraland.
Would it be possible for you to ship the swag all the way to India?

[2018-07-19 21:53] GREGORIDESADE commented on #17
Still very interested and hoping to hear back from you all!

[2018-07-21 19:07] aj07 commented on #16
@nearnshaw can we organise own meetup for gamers and have this event?  Is this bounty still alive?

[2018-07-21 19:12] aj07 commented on #18
@nearnshaw can wine organise event in Delhi. Here there are lots of interest in Blockchain event.

[2018-07-22 14:29] rmshea commented on #21
Still working! Video will be sent this week to you.

[2018-07-23 02:50] dapperAuteur commented on #17
I've read all the blog posts on the [Medium Blog site](https://blog.decentraland.org/), read the docs, and many of the pages on the site. I want to discuss what users how users that don't have land may enjoy Decentraland and participate in the movement.

[2018-07-27 01:56] dapperAuteur commented on #17
@nearnshaw I was part of another project, similar to this. It was cooperative and the funder was splitting the bounty between all the bounty hunters. Is that what's going to happen with this bounty? Or is each bounty hunter getting the full bounty for completed and accepted work?

[2018-07-27 01:57] dapperAuteur commented on #18
@nearnshaw I was part of another project. It was cooperative and the funder was splitting the bounty between all the bounty hunters. Is that what's going to happen with this bounty? Or is each bounty hunter getting the full bounty for completed and accepted work?

[2018-07-27 12:43] nearnshaw commented on #17
@dapperAuteur we plan on paying the full bounty to every worker that we approve and that completes the assignment. I apologize that we're taking so long to respond to requests from you and other applicants, we had a lot more applicants than we expected and are still sorting through them. We will get back to you. Thanks for your interest!

[2018-07-31 14:58] nearnshaw commented on #17
@hardlydifficult  thanks for the tutorial you submitted, it's very good material!

We do however have some feedback. I realize that with this being a video it's complicated to edit it, but there is something in that example that we don't want to encourage as a best practice.

The issue with the tutorial's code is that it changes the value of the scene state directly, as shown in these lines:
this.

[2018-07-31 21:12] HardlyDifficult commented on #17
Thanks for the feedback.  I'll make the updates.  Honestly I had used
setState originally but changed cause I thought it would make more sense
for newbs.  Bad call, we should do it the right way.  One question though,
why copy the array first?  It seems this works as well as your code, is
there benefit of calling .slice()?

this.state.buttonState[this.state.lastSelectedButton] = false
this.setStat

[2018-07-31 22:09] nearnshaw commented on #17
Thanks, I really appreciate you taking the time to revise this!

What you did there works perfectly well for this case, but it's still modifying the array directly, which is something we really want to avoid users getting used to. I'm currently working on a tutorial where we have multiple birds moving randomly based on an array like that. I actually initially tried to do something similar to what

[2018-08-01 00:48] HardlyDifficult commented on #17
Done.  Let me know if there's anything I missed.

https://steemit.com/tutorial/@hardlydifficult/decentraland-tutorial-creating-a-music-jukebox

thanks

On Tue, Jul 31, 2018 at 3:09 PM, Nicolas Earnshaw <notifications@github.com>
wrote:

[2018-08-01 14:04] nearnshaw commented on #17
Fantastic @hardlydifficult , thanks for making those fixes. I see you redid the whole video, wow, I'm impressed by the level of commitment!

I'll approve the submission now, we really like what you put together. If you're interested in putting any other tutorials like this one together we can get in touch and discuss that :)

[2018-08-01 14:43] cupOJoseph commented on #18
@nearnshaw I just sent you a message on the gitcoin slack with the info from our event last night.

[2018-08-03 14:22] cupOJoseph opened #24 "Create a 'bounty' label for issues."

[2018-08-03 16:52] dapperAuteur commented on #17
What do you think of my blog post proposal to profile the districts of Decentraland @nearnshaw  ?
Is that something y'all would be interested in funding?

[2018-08-10 19:05] dapperAuteur commented on #18
@nearnshaw by 'Done', does that mean no other events will be funded or that no new events will be approved? Please clarify what this means.

[2018-08-10 19:22] nearnshaw commented on #18
We'll keep funding events.
All we did was pay someone who already organized and carried out an event.

[2018-08-10 19:50] #21 closed, assigned to nobody

[2018-08-10 19:51] #6 closed, assigned to nobody

[2018-08-10 19:52] #20 closed, assigned to nobody

[2018-08-10 19:52] #19 closed, assigned to nobody

[2018-08-10 19:52] #24 closed, assigned to nobody

[2018-08-14 11:59] Fomode3D commented on #17
Here's my Decentraland blog, as promised:

[Inside Decentraland: The Virtual City That’s All in Your Head](https://eduncovered.com/inside-decentraland-the-virtual-city-thats-all-in-your-head-2018-08-14)

[2018-08-25 17:17] Fomode3D commented on #17
Any chance of getting some feedback on the blog post I submitted 11 days ago, above, as part of the bounty campaign? Happy to make modifications etc based on feedback
[https://eduncovered.com/inside-decentraland-the-virtual-city-thats-all-in-your-head-2018-08-14](url)

[2018-08-28 23:51] ericschallock commented on #17
Hey @Fomode3D ! Sorry for the delay on our end! We're excited about your blogpost, thank you for the contribution! I'm not sure that we have too much feedback to provide, so feel free to submit your work on GitCoin, and we'll be able to pay you your MANA.

[2018-08-30 21:54] ericschallock commented on #17
@Fomode3D Would you please reach out to me on Discord and I can help arrange your MANA payment for your blog post? You can find me at @eric#3990

[2018-09-06 17:57] nearnshaw opened #25 "WebSocket-synced remote Decentraland scene"
Create a WebSocket server to handle scene state data for a Decentraland scene.

Also create a Decentraland scene that implements WebSocket communication with that server to store the scene state remotely. This should enable multiplayer interaction with the scene, as all users render their scenes based on a consistent state stored in this scene.

The server where the scene is hosted must be built f

[2018-09-06 18:00] nearnshaw opened #26 "Decentraland scene synced by RESTful API"
Create a node server implementing a RESTful API to handle and store scene state data for a Decentraland scene.

Create a Decentraland scene that calls the API your server exposes to obtain and update the scene state as users interact with it. This should enable multiplayer interaction with the scene, as all users render their scenes based on a consistent state stored in this server.

The server wh

[2018-09-11 19:24] tcrowe commented on #26
Good day @nearnshaw :wave:

IMO these should be combined:
https://github.com/decentraland/MANA-community-fund-learning-content/issues/25

The reasoning is that in node the HTTP, JSON-RPC, WebSocket are all one server calling the same methods.

[2018-09-12 07:22] tcrowe commented on #26
Since you mentioned zeit now they have an option that works with socket.io https://github.com/zeit/micro/blob/069f31fa506086cdbf0ce3364d16ab972e8cc200/examples/socket.io-chat-app/index.js

[2018-09-12 07:23] tcrowe commented on #26
Synchronize redis across all socket.io clients https://github.com/socketio/socket.io-redis

[2018-09-12 14:41] vs77bb commented on #17
Hi @ericschallock in case it's helpful - you can pay out @Fomode3D via a [Gitcoin Tip](gitcoin.co/tip) just by tagging his Github username :+1:

[2018-09-12 14:44] ericschallock commented on #17
@vs77bb Thanks! We got it sorted out though. Appreciate the tip!

[2018-09-13 21:47] acl-crypto commented on #17
@ericschallock Is this bounty still available ? On the main page it still says "hiring"

[2018-09-14 19:50] leelinliew opened #27 "Organize a local game developer meetup sponsored by Decentraland"
Organize a meetup for game developers in Dubai, name Decentraland as the event's main sponsor.

To redeem this bounty you must present pictures of the event, and screenshots of the event invitations (email, meetup event, facebook event, etc) , showing that the Decentraland brand was made present.

You can reach out to us for guidance and consultation if you need help with the talk's content.

In a

[2018-09-14 20:13] vs77bb commented on #25
Excited to see what you come up with here @tcrowe!

[2018-09-14 20:31] tcrowe commented on #25
Thanks for the encouragement @vs77bb 🤗

[2018-09-18 17:35] tcrowe commented on #26
So far so good. 👍🏼 I expect a few more days before I want to start putting the demo out on the cloud.

[2018-09-18 17:36] tcrowe commented on #25
It's going well. I'm working on these in tandem. https://github.com/decentraland/MANA-community-fund-learning-content/issues/26#issuecomment-422481899

[2018-09-24 19:00] tcrowe commented on #26
It's still going well. There's nothing blocking me. There's some learning involved about the APIs. 👍🏼

[2018-09-24 19:01] tcrowe commented on #25
The same update goes for this. https://github.com/decentraland/MANA-community-fund-learning-content/issues/26#issuecomment-424087474

[2018-09-25 02:50] vs77bb commented on #25
Awesome; snoozing Gitcoin Bot for 10 days here 👍

[2018-09-29 21:06] dapperAuteur commented on #18
Here's a link to the images from the Meetup and a link to the Meetup event:
images: http://bit.ly/2RbRk9K
event: http://bit.ly/2ORgDfH

[2018-10-03 03:39] tcrowe commented on #25
Okay guys. It  might have kicked me off the bounty. I think I got food poisoning a few days back but I still got the bulk of this one knocked out.

I am putting the finishing touches on and the explanations.

I will get back with the PR, images, demo and etc. shortly. 👍

[2018-10-03 03:41] tcrowe commented on #26
I got most of the other one. This one is wrapping up next.

https://github.com/decentraland/MANA-community-fund-learning-content/issues/25#issuecomment-426501945

[2018-10-03 12:10] nearnshaw commented on #25
Sorry to hear you were not ok these days!
Never mind those warnings, we'll work it out and honor our agreement, even if that ends up meaning paying you outside the platform.
Can't wait to see what you're putting together! :)

[2018-10-04 22:07] tcrowe commented on #25
Repo up here: https://github.com/tcrowe/sample-sync-websockets

I named it "sample-sync-websockets" trying to follow with the nomenclature for the other samples.

If there's not one maybe we can make "sample-sync-websockets" repo on https://github.com/decentraland and I'll PR into it.

I'll put up a demo URL soon. It works 95%. I want to change some things before I say it's done though.

---

How

[2018-10-04 22:09] tcrowe commented on #25
There's 1 TypeScript error/warning I don't know how to fix. Maybe you can help @nearnshaw. 😅

[code]

[2018-10-04 22:12] tcrowe commented on #25
One client one don't it. You need a bunch to see it.

*I don't know why they have the wireframe around them.*

<img width="1440" alt="screen shot 2018-10-04 at 4 11 27 pm" src="https://user-images.githubusercontent.com/1634015/46506028-36301780-c7f0-11e8-89df-6a8fe885fb8a.png">

[2018-10-05 12:09] nearnshaw commented on #25
@tcrowe   I'm getting an error while trying  `npm run dev`, it says the following:

{ Error: Redis connection to 127.0.0.1:6379 failed - connect ECONNREFUSED 127.0.0.1:6379
    at TCPConnectWrap.afterConnect [as oncomplete] (net.js:1159:14)
  errno: 'ECONNREFUSED',
  code: 'ECONNREFUSED',
  syscall: 'connect',
  address: '127.0.0.1',
  port: 6379 }

Maybe there's some other package besides redis t

[2018-10-05 12:11] nearnshaw commented on #25
Can you install redis with npm?  As in `npm install redis` ?
It seemed to work for me, but maybe that's my problem.
If it does work, I'd like to have that in the readme too for consistency with our other docs, as we always use npm for all library installations in our examples.

[2018-10-05 15:13] nearnshaw commented on #25
Ok, I was now able to run the scene well!
The problem was I didn't install redis correctly. Now I installed it with brew.
Isn't it a necessary step to first run `redis-server` before starting the scene? If so, we should add that to the readme.

The bounding boxes display because of a bug with the preview: if an entity is displayed outside the bounds of the scene, we show it in red and add this bou

[2018-10-05 17:38] tcrowe commented on #25
Thanks for testing it out. My apologies for not being more clear. The readme definitely explains better than I did above.

I was thinking that the username changer would be nice to have but the textbox doesn't have `onChange`. Is there a way to get it by ID? The "OK" box was not receiving `onClick`. I don't know why.

I was thinking also an automatic door that opens when a user goes near it and a

[2018-10-13 05:38] tcrowe commented on #25
I've got a big update on this one:

+ Remove username editor since we can't use textbox yet
+ Add some walls and a door
+ The door opens and closes based on proximity
+ Remove redis pub-sub to simplify

https://github.com/tcrowe/sample-sync-websockets

I put a little gif on it here:
https://github.com/tcrowe/sample-sync-websockets#readme

How to install:
https://github.com/tcrowe/sample-sync-webso

[2018-10-13 05:41] tcrowe commented on #26
I was blocked on the websockets sync for a while and didn't make progress on this HTTP sync scene. I discovered some limitations so that I cannot use textboxes in the scene right now which is what I was going to use for this.

Nico helped get me on track. You can see the websockets scene update here:
https://github.com/decentraland/MANA-community-fund-learning-content/issues/25#issuecomment-429513

[2018-10-13 12:09] nearnshaw commented on #25
Thanks Tony!
I just took a look, it's awesome :).  It's a shame that we couldn't get the name changing to work, but this works very well as well.

The one thing I'd like is to have a clearer separation between the code that would run in the server and the code that would run in the Decentralnd scene, and have each in a separate folder holding everything for each. I know right now there are a few s

[2018-10-13 22:28] tcrowe commented on #25
Hey @nearnshaw I did what you suggested above. I think it's in good shape.

+ Removed shared directory
+ Created a more clear separation and notes about it
+ Provided detailed how-to docs https://github.com/tcrowe/sample-sync-websockets#how-to-do-this

[2018-10-14 17:43] nearnshaw commented on #25
Great, thanks @tcrowe!

I'll run it by the devs, but I think this is looking really good. At some point next week I'll give your docs a revision, but they're looking very good.
I'd love to take what your wrote in making synchronize-websockets and build a blogpost around that and link to your repo for more details if you don't mind :)
Once I get some feedback from the devs I'll be sending you your

[2018-10-23 02:42] rmshea opened #28 "Organize a local game developer meetup sponsored by Decentraland (Q4 2018)"
Organize a meetup for game developers in your local area and name Decentraland as the event's main sponsor!

To redeem this bounty you must present pictures of the event and screenshots of the event invitations (Email, Meetup Event, Facebook Event, Eventbrite, etc), showing that the Decentraland brand was made present.

The Decentraland team can supply you with posters and related graphics (if nee

[2018-10-26 10:12] aj07 commented on #28
Are you open for Bangalore/Delhi location ?

[2018-10-29 16:06] rmshea commented on #28
@aj07 Can you tell me more about what you are thinking? :)

[2018-11-09 14:48] tcrowe commented on #26
Alright! I'm almost done. I was at first using Postgres SQL but I got stuck, raged, and swapped it out for MongoDB. That's more popular with nodejs so I thought it would be cool. If you want a specific DB you can let me know and I'll be happy to change it.

I'll get pics and a repo for you to see today or tomorrow.

Thanks for your patience, @nearnshaw

[2018-11-09 16:07] nearnshaw commented on #26
Awesome, thanks Tony!
MongoDB sounds like a good pic, although I don't think we have any specific preferences there, whatever is well known and works :)

[2018-11-11 03:37] tcrowe commented on #26
I got it working with some screens here:

https://github.com/tcrowe/sample-sync-rest

The concept is to demonstrate REST by:

+ GET all
+ GET one pixel
+ PUT new pixel
+ POST existing pixel
+ DELETE existing pixel

For me using MongoDB was really easy. I just installed it, ran the app, and it's working.

[2018-11-16 19:57] tcrowe commented on #26
I added polling each one second and some explanations to the code:
https://github.com/tcrowe/sample-sync-rest

I'm moving to close out the bounty now but I am happy to keep tweaking until it's just right!

[2018-11-19 15:30] wazdevelopment commented on #28
hey how do receive the posters and other advertising content for my events, also costs of events is 1200 pounds Stirling will this be OK its outline in the original post thanks

[2018-11-21 00:58] rmshea commented on #28
@wazdevelopment Can you provide me a breakdown of the $1200 pounds sterling? ryan [@] decentraland .org

I will reach out to provide you with posters and advertising content.

[2018-11-22 14:27] wazdevelopment commented on #28
hall rent for 1 evening 250 people plus =  costs 500
foom and drinks costs  = 425
eventbite tickets cost=275
 total costs for the event = 1200 pounds Stirling

[2018-12-05 04:28] rmshea commented on #28
@wazdevelopment can you email detailed invoices to ryan@decentraland.org? I would like to reach out to the venue to verify costs

[2018-12-18 14:36] wazdevelopment commented on #28
email of invoice sent thanks

[2018-12-26 18:15] rmshea commented on #28
@wazdevelopment will run this by finance!

[2018-12-26 18:16] rmshea commented on #28
For others interested in this bounty, it is still available -- I have just paid out @polezo because he finished his event first.

[2019-02-13 03:12] rmshea opened #29 "Organize a Decentraland meetup (Q1 2019)"
Organize a meetup for game developers, blockchain users, or gamers in your local area and name Decentraland as the event's main sponsor!

To redeem this bounty you must present pictures of the event and screenshots of the event invitations (Email, Meetup Event, Facebook Event, Eventbrite, etc), showing that the Decentraland brand was made present.

The Decentraland team can supply you with posters

[2019-02-14 05:11] rmshea commented on #29
@takjohn That sounds great! The Q1 Deadline is just so people understand that bounties are being posted regularly. I think we can definitely arrange something provided as an award - let me sync w/ the team and see what we can do. Paying them also sounds good.

[2019-02-21 05:49] rmshea commented on #29
hey all! please email me at ryan [@] decentraland.org with your plans + questions ! 😄

[2019-03-11 00:20] rmshea opened #30 "Paris Meetup"
**Reserved for the NonFungible Team! Do not apply!**

Organize a meetup for game developers, blockchain users, or gamers in your local area and name Decentraland as the event's main sponsor!

To redeem this bounty you must present pictures of the event and screenshots of the event invitations (Email, Meetup Event, Facebook Event, Eventbrite, etc), showing that the Decentraland brand was made prese

[2019-03-26 08:56] Sidmenon4 commented on #29
Hello!. I'm a student in the 4th year of Computer Science Engineering at Manipal Institute of Technology, Manipal, Karnataka, India. I would love to hold an event for the blockchain enthusiasts and game-developers of my University. The plan is to put up couple of interesting presentations on accessing and utilizing the Decentraland platform and on game-development. Collaboration with the gaming cl

[2019-05-29 03:23] rmshea opened #31 "Refer Hackers to SDK Hackathon"
We’re organizing a private SDK hackathon, starting on June 3rd, and spanning through the 17th, with exciting prizes.

*The Bounty*
Refer devs to the hackathon, have them submit a scene, and you'll get MANA! For every dev referral and scene submission, we will pay you 1,000 MANA. You can also participate and submit a scene to receive 1,000 MANA.

We will only consider the first 25 people that sign

[2019-05-29 12:52] nearnshaw commented on #31
FYI,  we've already reached our goal of 25 signups. Any new submissions won't be taken into consideration.

[2019-05-29 13:06] #31 closed, assigned to nobody

[2019-07-31 21:58] nearnshaw opened #32 "Participate in the Decentraland September Game Jam"
Create and submit a 3D interactive scene to explore in Decentraland, and earn from the 250K USD prize pool.

Build a scene using the Decentraland SDK. You can build whatever you wish: games, social experiences, virtual markets, anything!  It can be integrated to the crypto ecosystem or not.

<iframe width="560" height="315" src="https://www.youtube.com/embed/fS6O6cWaXOQ" frameborder="0" allow="acc

[2019-08-15 09:10] edsonayllon commented on #32
If I understand correctly, the requirement is to sign up using the link provided, correct? I can then submit using the Decentraland website during the Game Jam event?

[2019-08-15 12:26] nearnshaw commented on #32
@edsonayllon
Yes, the requirement for now is just to sign up in the link. We will then email detailed instructions to everyone about how to submit. The submit won't be via GitCoin, but via an outside form. Thanks for your interest!

[2019-08-15 20:33] edsonayllon commented on #32
Ok, thank you. Will "stop work" on this page, and submit via the outside form when available.

[2019-10-28 16:58] #32 closed, assigned to nobody

[2021-07-20 06:48] royhodge commented on #29
umm.. so I have been hosting meetups for this issue for quite some time.. I have emailed and submitted proof, any chance of getting my work reviewed and a payout? or did my submission not meet some criteria im not knowing about? thanks for an update, sorry to raise a dead thread, just realized i had never collected for this.. I can happily and easily submit whatever you need from me, I would also

[2022-06-21 18:21] #16 closed, assigned to nobody

[2022-06-21 19:56] #1 closed, assigned to nobody

[2022-06-21 19:57] #2 closed, assigned to nobody

[2022-06-21 19:57] #4 closed, assigned to nobody

[2022-06-21 19:57] #5 closed, assigned to nobody

[2022-06-21 19:58] #18 closed, assigned to nobody

[2022-06-21 20:03] #17 closed, assigned to nobody

[2022-06-21 20:03] #27 closed, assigned to nobody

[2022-06-21 20:03] #28 closed, assigned to nobody

[2022-06-21 20:03] #29 closed, assigned to nobody

[2022-06-21 20:04] #30 closed, assigned to nobody

[2022-06-21 20:04] #26 closed, assigned to nobody

[2022-06-21 20:04] #25 closed, assigned to nobody